<div class="modal-header">
	<h3>Movie Details:</h3>
	<button class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
	<h4 style="text-align: center;">
		Title: <%= movie.title%><br>
		Genre: <%= movie.genre%><br>
		Year: <%= movie.year%>
	</h4>
</div>