<div class="modal-header">
	<h2><%= movie.title%> trailer:</h2>
	<button class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
	<% id = find_trailer(movie)%>
	<% if !id.nil? %>
		<iframe src="https://www.youtube.com/embed/<%= id%>"
			width="470" height="360" allowFullScreen="allowFullScreen"
			frameBorder="0"></iframe>
	<% else %>
		<b>Could not find a trailer</b>
	<% end %>		
</div>