<div style="width: 100%" class="row">
	<div style="margin: auto;padding: 10px">
		<i style="font-size: 50px;color: black">Movie Section</i>
	</div>
</div>

<div id="movieWell" class="well well-lg rounded">
	<div class="col">
		<div id="movieRow" style="margin: auto" class="row">
			<%= render partial: 'movie', collection: @movies, cached: true %>
		</div>

		<div style="text-align: center;padding-top: 20px;padding-bottom: 20px">
			<%= link_to "Add a new movie", {controller: 'movies', action: 'new',token: 'movie'}, 
				class: 'btn btn-primary btn-lg', :method => :get, remote: true %>
		</div>
	</div>
</div>