<div style="width: 100%" class="row">
	<div style="margin: auto;padding: 10px">
		<i style="font-size: 50px;color: black">Search Results</i>
	</div>
</div>

<div id="movieWell" class="well well-lg rounded">
	<div class="col">
		<div style="margin: auto" id="movieRow" class="row">
			<%= render partial: 'movie', collection: @movies %>
		</div>
	</div>
</div>