$("#<%= @movie.id%>").replaceWith("<%= j(render @movie) %>");
$("#myModal").modal("hide");
$("#alert_wrapper").html("<div class='alert alert-success'><a class='close' data-dismiss='alert'>x</a><span><%= flash[:msg]%></span></div>");
$("#alert_wrapper").toggleClass("in out");