<div class="container-fluid" style="margin-bottom: 10px">
	
	<div class="row">
		<h1 style="margin: auto;padding-top: 20px"><center>User Details</center></h1><br>
	</div>

	<%= render partial: 'form', locals: {user: @user} %>
</div>