<nav style="margin-right: -15px;margin-left: -15px" 
    class="navbar navbar-toggleable-sm navbar-default navbar-fixed-bottom">

    <div class="navbar-header">
      <p class="navbar-brand">MusicPlayer</p>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><img src="<%= asset_path('glyphicons-174-play.png') %>"></a></li>
        <li><a href="#"><img src="<%= asset_path('glyphicons-175-pause.png') %>"></a></li>
        <li><a href="#"><img src="<%= asset_path('glyphicons-176-stop.png') %>"></a></li>
      </ul>
    </div>  
</nav>