<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="<%= welcome_Index_path %>">Home</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <% if current_page?(musics_path) %>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">             
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Music</button>  
      </form>
    <% elsif current_page?(welcome_Index_path) || current_page?(root_path) %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    <% elsif current_page?(controller: 'musics',action: 'new') || current_page?(controller: 'musics',
            action: 'edit')%>
      <button onclick="window.location.href='<%= musics_path %>'" class="btn btn-primary">
      Go Back</button>  
    <% else %> 
    <% end %>
  </div>
</nav>