<div id="<%= document.id%>" class="col-xs">
	<div id="documentCard" class="card text-center bg-faded hover-shadow">
		<div class="card-block">
			<h4 class="card-title has-popover" data-toggle="popover" data-content="<%= document.title%>" >
			<%= truncate(document.title.html_safe, length: 12)%></h4>
			<%= link_to 'View Doc', document.doc.url, class: 'btn btn-secondary',target: :_blank %>
		</div>
	</div>
</div>