<div style="width: 100%" class="row">
	<div style="margin: auto;padding: 10px">
		<i style="font-size: 50px;color: black">Your Documents</i>
	</div>
</div>

<div id="documentWell" class="well well-lg bg-white rounded">
	<div class="col">
		<div id="documentRow" style="margin: auto" class="row">
			<%= render partial: 'document', collection: @documents, cached: true %>
		</div>

		<div style="text-align: center;padding-top: 20px;padding-bottom: 20px">
			<%= link_to "Add a new document", {controller: 'documents', action: 'new',token: 'document'}, 
				class: 'btn btn-primary btn-lg', :method => :get, remote: true %>
		</div>
	</div>
</div>