<div style="width: 100%" class="row">
	<div style="margin: auto;padding: 10px">
		<i style="font-size: 50px;color: black">Search Results</i>
	</div>
</div>

<div id="documentWell" class="well well-lg rounded bg-white">
	<div class="col">
		<div style="margin: auto" id="documentRow" class="row">
			<%= render partial: 'document', collection: @documents %>
		</div>
	</div>
</div>