<div class="modal-header">
	<h3>Game Details:</h3>
	<button class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
	<h4 style="text-align: center;">
		Title: <%= game.title%><br>
		Genre: <%= game.creator%><br>
		Year: <%= game.year%>
	</h4>
</div>