<div class="container-fluid">
	
	<div class="row">
		<h1 style="margin: auto;padding-top: 20px"><center>Game Details</center></h1><br>
	</div><br>
	
	<%= render partial: 'form', locals: {game: @game} %>
</div>