<div style="width: 100%" class="row">
	<div style="margin: auto;padding: 10px">
		<i style="font-size: 50px;color: black">Games Collection</i>
	</div>
</div>

<div id="gameWell" class="well well-lg rounded">
	<div class="col">
		<div id="gameRow" style="margin: auto" class="row">
			<%= render partial: 'game', collection: @games, cached: true %>
		</div>

		<div style="text-align: center;padding-top: 20px;padding-bottom: 20px">
			<%= link_to "Add a new game", {controller: 'games', action: 'new',token: 'game'}, 
				class: 'btn btn-primary btn-lg', :method => :get, remote: true %>
		</div>
	</div>
</div>