<div style="width: 100%" class="row">
	<div style="margin: auto;padding: 10px">
		<i style="font-size: 50px;color: black">Search Results</i>
	</div>
</div>

<div id="gameWell" class="well well-lg rounded">
	<div class="col">
		<div style="margin: auto" id="gameRow" class="row">
			<%= render partial: 'welcome/game', collection: @games, cached: true %>
		</div>
	</div>
</div>