@import 'bootstrap';

.bg-white{
	background: #ffffff !important;
}

.rounded{
	border-radius: 10px;
}

.pull-right{
	float: right !important;
}

.pull-left{
	float: left !important;
}

.btn-xl {
    padding: 20px 20px;
    font-size: 30px;
    border-radius: 10px;
}

.div {
	-webkit-backface-visibility: hidden;
}

.carousel {
	width: 75%;
	max-height: 420px;
}

.container-fluid {
	min-height: 100vh;
	min-width: 100%;
}

#myCarousel {
	margin: auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#well {
	margin: auto;
	width: 75%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#musicCard {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#movieCard {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#gamesCard {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#musicWell {
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#songCard {
	margin: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
}