// Place all the styles related to the Music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#musicWell {
	width: 77%;
	margin: auto;
	background-image: url("meteora.jpg");
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#songCard {
	margin: 15px;
	min-width: 200px;
}

#songCard.hover-shadow{
	transition: 0.3s;
}

.hover-shadow:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}