// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'sidebar';

#profile_well {
	width: 85%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.active {
	text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}