<div class="modal-header">
	<h3>Song Details:</h3>
	<button class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
	<h4 style="text-align: center;">
		Title: <%= music.title%><br>
		Artist: <%= music.artist%><br>
		Album: <%= music.album%><br>
		Year: <%= music.year%>
	</h4>
</div>