<div class="modal-header">
	<h2><%= music.title%> video:</h2>
	<a href="#" class="close" data-dismiss="modal">&times;</a>
</div>

<div class="modal-body">
	<% id = find_video(music)%>
	<% if !id.nil? %>
		<iframe src="https://www.youtube.com/embed/<%= id%>"
			width="470" height="360" allowFullScreen="allowFullScreen"
			frameBorder="0"></iframe>
	<% else %>
		<div class="pClass">
			<b>Could not find a video</b>
		</div>
	<% end %>		
</div>