<div class="container-fluid">
	
	<div class="row">
		<h1 style="margin: auto;padding-left: 70px"><center>Song Details</center></h1><br>
	</div><br>
	
	<%= render partial: 'form', locals: {music: @music} %>

</div>