<div class="container-fluid bg-info">

	<div class="row">
		<div style="margin: auto;padding-top: 10px;padding-bottom: 10px">
			<i style="text-shadow: 2px 2px 8px #000000,2px 2px 8px #ffffff;
				font-size: 50px;color: white">Music Gallery</i>
		</div>
	</div>

	<div id="musicWell" class="well well-lg bg-faded rounded">
		
		<div class="row">
			<%= render partial: 'music', collection: @musics %>
		</div><br>

		<div class="text-center">
			<%= link_to "Add a new song", {controller: 'musics', action: 'new'}, 
				class: 'btn btn-primary btn-lg', :method => :get %>
		</div><br>
	</div><br>
</div>