$("#<%= @music.id%>").replaceWith("<%= j(render @music)%>");
$("#myModal").modal("hide");
$("#alert_wrapper").html("<div class='alert alert-success'><a class='close' data-dismiss='alert'>x</a><span><%= flash[:notice]%></span></div>");
$("#alert_wrapper").toggleClass("in out");